{% extends "./base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>Social Network Homepage</h1><br>

    <h2>This will perform the following minimum application requirements :</h2><br>

    <ul>
        <li>
            <p>Your application should allow users to create new password secured accounts.</p>
        </li>
        <li>
            <p>You should collect and store an appropriate amount of information about each user
                (e.g. user name, use picture).</p>
        </li>
        <li>
            <p>Each user should have a “home” page that shows their user information and any other
                interesting data such as images, picture galleries or other media files. And displays user
                status updates. These home pages should be discoverable and visible to other users</p>
        </li>
        <li>
            <p>Users should be able to post status updates to their “home” page.</p>
        </li>
        <li>
            <p>Users should be able to search for other users and “add” them to their network of
                contacts or friends.</p>
        </li>
        <li>
            <p>Users should also be able to view a list of their friends.</p>
        </li>
        <li>
            <p>Additionally users should be able to chat in real time to the contacts of their choice.
        </li>
        <li>
            <p>An appropriate REST interface for User data should be provided.</p>
        </li>
        <li>
            <p>The application should include functionality that makes appropriate use of Web
                Sockets.</p>
        </li>
        <li>
            <p>The application should implement appropriate tests for the server side code.</p>
        </li>
    </ul>
</div>
{% endblock %}